
<div id="footer" class="container fixed-bottom">
    <div id="footerTop">
        <label for="footer"><small></small>SPORTPEDIAS™</small></label>
    </div>
    <div id="footerBottom">
        <label for="footer"><a href="https://github.com/claracmelo/sportpedias"><small>©Copyright</small></a></label>
    </div>
</div>
</div>
</body>
</html>