<%- include('./partials/header.ejs') %>

    <form method="POST" action="/sportpedias">
      <fieldset>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter your Name">
      </fieldset>

      <fieldset>
        <label for="anonymous">anonymous</label>
        <input id="anonymous" type="checkbox" name="anonymous">
      </fieldset>
      <fieldset>
        <label for="comment">Comment:</label>
        <input id="comment" type="text" name="comment" placeholder="Enter your comment">
      </fieldset>
      <button>Add your comment!</button>
    </form>

  <%- include('./partials/footer.ejs') %>