<%- include('./partials/header.ejs') %>
    <h1>it works</h1>
    <a href="/sportpedias/sports"><button>SPORTS</button></a>
    <a href="/sportpedias/new"><button>NEW</button></a>
    <a href="/sportpedias/soccer/edit"><button>EDIT</button></a>
    <a href="/sportpedias/contact"><button>CONTACT</button></a>
    <a href="/sportpedias/soccer/comments"><button>COMMENTS</button></a>
    <a href="/sportpedias/soccer/rules"><button>RULES</button></a>
    <a href="/sportpedias/soccer/facts"><button>FACTS</button></a>

    <%- include('./partials/footer.ejs') %>