<%- include('./partials/header.ejs') %>


<div id="title">
  <img id="imgHome" src="/images/fact.jpeg" alt="home" class="img-fluid">
</div>

<!-- it needs a div id different -->
<div id="contentNew" >
  <!-- rules name -- it needs a div id -->
  <div>
      <p id="about">Facts</p>

  </div>
  <!-- Rules list -- it needs a div id -->
  <form method="POST" action="../facts?_method=PUT" method="POST">
    <div class="mb-3">

      <label for="name" class="form-label">Name: </label>
          <input class="form-control" id="name" type="text" name="name" placeholder="Enter new fact name">
        </div>
        <div class="mb-3">
          <label for="fact" class="form-label">Fact: </label>
           <input class="form-control" id="fact" type="text" name="fact" placeholder="Enter fact for the product">
        </div>
        <div>
          <label for="img" class="form-label">Image's URL:  </label>
          <input class="form-control" id="img" type="text" name="img" placeholder="Enter URL for the fact's Image">
        </div>
            <br>
    
          <input id="subButton" class="form-control" type="submit" name="" value="Add New Fact!"/>
      </form>
</div>
</div>



<%- include('./partials/footer.ejs') %>