<%- include('./partials/header.ejs') %>
<a href="/sportpedias/sports/<%=sport.id%>/rules/new"><button>new</button></a>
<br>
Rules
<br>
<ol>
<% for(let i=0; i <sport.rules.length; i++) {  %>
        
        <li> 
        <%= sport.rules[i].rule %>

        </li>
        
        <% } %>
    </ul> 
<%- include('./partials/footer.ejs') %>