/* ------------------------------------------------------------------------
                            DISPLAY FLEX           
------------------------------------------------------------------------ */
#content-sports{
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto;
    height: 430px;
}
#contentComment{
    display: flex;
    flex-wrap: wrap;
    overflow-y:auto;
    height: 125px; 
    width: auto;
}
#rules{
    font-size: 20px;
    margin-left:45%;
    margin-right: 30%;
}

#addCommentText{
    font-size: 12px;
    color: white;
}
#newText{
    font-size: 12px;
}
#tabs1{
    float: left;
    width: 1050px;
}
#btn{
    float: right;
}
#addComment{
float: right;
border-radius: 10px;
padding: 5px 10px 5px 10px;
background-color: #EB5757;
font-weight: normal;
border: none;

}

#commentText{

    border-radius: 10px;
    
    height: 110px; 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}
#content-index{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    width: 430px;
    overflow: hidden;
  }



  #ruleList{
    width: 600px;
    height: 350px;
    margin-top: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical; 
    overflow: hidden;
  }

/* ------------------------------------------------------------------------
                             WIDTH              
------------------------------------------------------------------------ */

#factsBox{
    width: 430px;
}

#factDetail{
    width: 200px;
}

#header{
    width: 100%;
}

#footer
{
    
    width: 1366px;
}

#title,
#imgHome
{
    width: 1110px;
}


#content,
#contentNew
{
    width: 1110px;
}

#footerTop,
#footerBottom
{
    width: 109.33px;
}
#sportpediasBKG{
    width: 250px;
}
#commentText{
    width: 1030px;
}
#factsImg{
    width: 160px;
}
/* ------------------------------------------------------------------------
                            HEIGHT              
------------------------------------------------------------------------ */

#content-index1{
    height: 195px;
}

#header{
    height: 120px;
}
#content1,
#content,
#contentNew{
    height: 430px;
}
#factsImg{
    height:200px
}
#factDetail,
#title,
#imgHome
{
    height: 320px;
}
#footerTop,
#footerBottom
{
    height: 27px;
}
#sportpediasBKG{
    height: 40px;
}
#footer{
    height: 65px;
}

/* ------------------------------------------------------------------------
                             PADDING            
------------------------------------------------------------------------ */
#header{
    padding-top: 22px;
}

#newBtn,
#contentText,
#sportBtn{
    padding-left: 24px;
    padding-right: 24px;
}

#content,
#contentNew{
    padding: 24px 24px 24px 24px;
}

#bodyGrey{
    padding-top: 16px;
}

#footerTop{
    padding-top: 4px;
}
#content-index{
    padding-top: 24px;
}
#content-index1{
    padding-left: 28px;
    padding-right: 28px;
}


/* ------------------------------------------------------------------------
                             BORDER           
------------------------------------------------------------------------ */

#factsImg,
#newBtn,
#sportBtn,
#title,
#content,
#content-index1,
#sportpediasBKG,
#footerTop,
#imgHome,
#contentNew,
#btn,
#btnEdit
{
   border-radius: 10px;
}

#sportBtn,
#newBtn,
#btn,
#btnEdit
{
    border: none;
}



/* ------------------------------------------------------------------------
                            MARGIN            
------------------------------------------------------------------------ */


#footer{
    margin-top: 147px;
}
#content,
#contentNew{
    margin-top: 24px;

}
#content-index1{
    margin-bottom: 24px;
}
#read-more{
    margin-left: 24px;
}
#content-index1{
    margin-left: 85px;
}
#contentNew,
#content,
 #content1, /*trying to center */
#content-index,
#title,

#sportpediasBKG,
#footerTop,
#footerBottom,
#top-left{
    margin-left: auto;
    margin-right: auto;
}

/* ------------------------------------------------------------------------
                            BACKGROUND           
------------------------------------------------------------------------ */
#bodyGrey,
#footerBottom,
body,
#commentText
{
    background-color: #F2F2F2;
}
#title{
    background-image: url("/images/home.jpeg");
}
#content,
#contentNew,
#content-index1,
#header
{
    background-color: white;
}

#newBtn,
#footerTop,
#sportpediasBKG,
#sportBtn,
#btn
{
    background-color: #EB5757;
}
#btnEdit{
    background-color: #5E6770;
}

/* ------------------------------------------------------------------------
                            TEXT COLOR            
--------------------------------------------------------------------------- */
#footerBottom a,
#tabsText,
#link-read{
    text-decoration: none
}
#link-read{
    color: #EB5757;
}
#footerBottom a,
#tabsText{
    color: #5E6770;
}
#footerTop label{
color:#F2F2F2;
}
#sportpediasName,
#textBtn,
#newBtn,
#btn,
#btnEdit
{
    color: white;
}

#link-read{
    font-weight: bolder
}
/* ---------------------------------------------------------------------------
                            FONT STYLE         
--------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

#content, 
#contentNew,
#tabs,
#tabs1,
#footerBottom,
#content1{
    font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
#about{
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
#sportpediasName,
#footerTop
{
    font-family: 'Faster One', cursive;

} 


/* ------------------------------------------------------------------------
                            FONT SIZE           
------------------------------------------------------------------------ */
#footerTop{
    font-size: 12px;
}
#sportpediasName{
    font-size: 32px;
}


/* ------------------------------------------------------------------------
                                 TEXT ALIGN       
------------------------------------------------------------------------ */
#footer{
    text-align: center;
}


/* ------------------------------------------------------------------------
                                  IMAGE     
------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------
                                
------------------------------------------------------------------------ */
#boxFact{
    display: flex;
    flex-wrap: wrap
}
/* ------------------------------------------------------------------------
                            c            
------------------------------------------------------------------------ */


